@font-face {
    font-family: spaceInvadersFont;
   	src: url(space_invaders.woff);
}

#infoUtente{
	margin-top: 30px;
	text-align: center;
	font-size:70px;
    font-family: spaceInvadersFont,sans-serif;
    font-weight: 800;
    line-height: 72px;
}

body{
	background-color: black;
}

a{
    text-decoration: none;
    
}

#immagineTitolo{
	margin-top: 10px;
	width:100%;
	height: 350px;
}

.invaderContainer,.buttonContent{
	margin: 40px 0px 0px 150px;
}

.alienImage{
	vertical-align:middle;
	width:96px;
	height:64px;
	margin-bottom: 0.75em;
}

#instructionContainer,#audioButtonContainer{
	margin-top: 20px;
	font-size: 50px;
	font-family: spaceInvadersFont,sans-serif;
    font-weight: 800;
    line-height: 72px;
    color:white;
    text-align: center;
}

.textPoints{
	margin-left: 20px;
	font-size: 50px;
	font-family: spaceInvadersFont,sans-serif;
    font-weight: 800;
    line-height: 72px;
    color:white;
    display: inline-block;
}
#infoDiv,#buttonContainer{
	float:left;
	width:50%;
}

input[type=button]{
	font-size: 80px;
	font-family: spaceInvadersFont,sans-serif;
    font-weight: 900;
    line-height: 120px;
    color:white;
   	width:90%;
   	background-color: transparent;
    border: 5px solid #ccc;
    box-sizing: border-box;
    padding-top: 20px;
}

#footer{
	border-top: 5px solid white;
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
   	font-size: 50px;
	font-family: spaceInvadersFont,sans-serif;
    font-weight: 800;
    line-height: 72px;
    color:white;
    text-align: center;
}
#userInfo{
	float:left;
	width:80%;
	border-right: 5px solid white;
}
#logoutButton{
	float:left;
	display: inline-block;
	font-size: 30px;
	font-family: spaceInvadersFont,sans-serif;
    line-height: 20px;
    color:white;
    width:19%;
   	background-color: transparent;
    border: 0px solid #ccc;
    box-sizing: border-box;
}

input[type=button]:hover{
	opacity: 0.5;
}
