@font-face {
    font-family: spaceInvadersFont;
   	src: url(space_invaders.woff);
}

body,html{
	width: 100%;
	height: 100%;
	margin: 0;
	overflow-x:hidden;
	background-image: linear-gradient(blue,green);
	text-transform: uppercase;
}



#loginContent,#registerContent{
	width: 49%;
	float: left;
	margin-top:20px;
}


#login_form,#register_form{
	text-align: center;
}
#immagineTitolo{
	margin-top: 10px;
	width:100%;
	height: 350px;
}
#loginTitle,#registerTitle{
	margin-top: 30px;
	text-align: center;
	font-size:70px;
    color: white;
    font-family: spaceInvadersFont,sans-serif;
    font-weight: 800;
    line-height: 72px;

}
input[type=text], input[type=password],input[type=email] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 26px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	font-size:16px;
    color: #000;
    font-family: spaceInvadersFont,sans-serif;
    font-weight: 800;
    line-height: 72px;
    text-align: center;
}

label{
	width: 90%;
    padding: 12px 20px;
    margin-top: -10px;
    margin-bottom: -20px;
    display: inline-block;
    box-sizing: border-box;
	font-size:16px;
    color: #000;
    font-family: spaceInvadersFont,sans-serif;
    font-weight: 800;
    line-height: 72px;
    text-align: center;
    color: white;
}

input[type=submit],button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 30px 26px;
    padding-right: 10px;
    border: none;
    cursor: pointer;
    width: 70%;
    font-family: spaceInvadersFont;
    font-size: 40px;
    font-weight: 800;
    line-height: 72px;
}
input[type=submit]:hover{
    opacity: 0.9;
}

.error{
    margin: auto;
    text-align: center;
    width:70%;
    color: white;
    background-color: red;
    font-family: spaceInvadersFont;
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
}