@font-face {
    font-family: spaceInvadersFont;
   	src: url(space_invaders.woff);
}

body{
	background-color: black;

}
#immagineTitolo{
	margin-top: 10px;
	width:100%;
	height: 350px;
}

#colorsContainer{
	font-size: 80px;
	font-family: spaceInvadersFont,sans-serif;
    font-weight: 800;
    line-height: 72px;
    color:white;
    float:left;
    margin-top:100px;
}
#infoContainer,#shopContainer{
	font-size: 80px;
	font-family: spaceInvadersFont,sans-serif;
    font-weight: 800;
    line-height: 72px;
    color:white;
    float:left;
    width:49%;
    margin-top: 100px;
}
#itemName{
	align: top;
	font-size: 50px;
	text-align: center;
}
#itemImage{
	display: inline-block;
}
#itemContainer{
	margin-left: 50px;
	display: inline-block;
	margin-top: 10px;	
}
.item{
	display: inline-block;
	margin-left: 30px;

}
.item:hover{
	border: 3px solid white;
}

.boughtItems,.boughtItemsEquipped{
font-size:35px;
display: inline-block;
margin-left: 80px;
}
.boughtItemsEquipped{
	border: 3px solid red;
}
.boughtItems:hover{
	border: 3px solid white;
}
.boughItemName{
	text-align: center;
}
#boughtItems{
	margin-top: 10px;
}


#floatingDiv {
	font-size: 50px;
	font-family: spaceInvadersFont,sans-serif;
    font-weight: 800;
    line-height: 72px;
    color:white;
    float:left;
    width:48%;
    margin-top: 100px;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    

}

.content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
#close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.body {padding: 2px 16px;}


#titoloHeader{
	font-size: 46px;
	text-align: center;
	font-family: spaceInvadersFont,sans-serif;
    font-weight: 200;
    line-height: 30px;
}
#info{
	margin-top: 30px;
	text-align: center;
	color:black;
}
#conferma{
	background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 30px 26px;
    padding-right: 10px;
    border: none;
    cursor: pointer;
    width: 70%;
    font-family: spaceInvadersFont;
    font-size: 40px;
    font-weight: 800;
    line-height: 72px;
}
#conferma:hover{
	opacity: 0.8;
}

.colors,.colorSelected{
	display: inline-block;
	width:130px;
	height: 130px;
	border: 10px solid white;
}
.colors:hover,.colorSelected:hover{
	width:150px;
	height: 150px;
}
.colorSelected{
	border: 10px solid #b3b3b3;
}
#green{
	background-color: #00ff00;
}
#red{
	background-color: red;	
}
#pink{
	background-color: #cc00cc;
}
#yellow{
	background-color: yellow;
}	
a{
    text-decoration: none;
    color:white;
}
a:hover{
	opacity: 0.8;
}
#footer{
	border-top: 5px solid white;
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
   	font-size: 50px;
	font-family: spaceInvadersFont,sans-serif;
    font-weight: 800;
    line-height: 72px;
    color:white;
    text-align: center;
}